* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

.madang-logo {
    width: 18%;
    margin-left: 4rem;
}

.cart {
    margin-right: 50px;
    width: 120px;
    height: 30px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: white;
    border: 1px solid #60BA62;

}

.cart-logo {
    width: 15%;
    padding-right: 5px;
}

nav {
    margin-top: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-link {
    font-size: 0.7rem;
    color: black;
    text-decoration: none;
    padding-left: 35px;
    padding-right: 35px;
}

.menu {
    margin-left: 200px;
    margin-right: 0px;
    display: flex; 
}

.first-display {
    height: 670px;
    background-image: url(./img/pic/home-banner1-cropped.jpg);
    background-size: 1440px 650px;
    background-repeat: no-repeat;
    box-shadow: 0px 7px 0px 0px rgb(251, 249, 249) inset;
}

.first-display-content {
    width: 35%;
    padding-left: 60px;
    padding-top: 80px;
}

.big-heading {
    font-size: 4rem;
    font-weight: 350;
    padding-bottom: 20px;
}
.green-text {
    color: #60BA62;
}
.content-para {
    color: #727271;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.7;
    padding-bottom: 30px;
}

.learn-more {
    font-family: 'Roboto', sans-serif;
    height: 55px;
    width: 200px;
    font-size: 1rem;
    color: white;
    border: none;
}

.colored {
    background-color: #60BA62;
}

.how-it-works {
    height: 700px;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 280px;
}

.work-heading {
    color: #727271;
    font-size: 2rem;
    font-weight: 400;
    padding-bottom: 80px;
}

.work-cards {
    display: flex;
    justify-content: space-evenly;
}

.work-card {
    width: 20%;
}

.work-para {
    color: #727271;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.5;
    padding-top: 20px;
}

.card-header {
    padding-top: 20px;
    color: #727271;
    font-size: 1.3rem;
    font-weight: 400;
}

.card-logo {
    width: 30%;
    height: 30%;
}

.dish-img {
    width: 270px;
    height: 270px;
}

.pictures-area {
    text-align: center;
    padding-top: 70px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 120px;
    display: flex;
    justify-content: space-evenly;
}

.img-caption-main {
    padding-top: 20px;
    text-decoration: underline;
    color: #60BA62;
    font-weight: 420;
    font-size: 1.1rem;
}

.img-caption {
    padding-top: 3px;
    text-decoration: underline;
    color: #828380;
    font-weight: 440;
    font-size: 1rem;
}

.goals {
    height: 593px;
    background-image: url(./img/pic/select-program-background.jpg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
}

.program-selection {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
}

.program-selection select {
    height: 70px;
    margin-bottom: 30px;
    border: 1px solid #60BA62;
    color: #60BA62;
    padding: 0px 20px 0px 60px;
    font-size: 1.2rem;
    font-weight: 250;
}

.compare-programs {
    height: 70px;
    background-color: #60BA62;
    border: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 250;
}

.compare-programs:hover {
    cursor: pointer;
}

.goals-heading {
    font-size: 2.5rem;
    font-weight: 350;
    padding-top: 40px;
    padding-bottom: 30px;
    color: #727271;
}

.pricing-content label {
    font-size: 1rem;
    color: #828380;
    font-weight: 390;
}

.pricing-content select {
    height: 40px;
    margin-left: 20px;
    margin-bottom: 30px;
    border: 1px solid #60BA62;
    color: #60BA62;
    padding: 0px 20px 0px 15px;
    font-size: 1rem;
    font-weight: 250;
}

.pricing {
    padding-top: 180px;
    height: 950px;
    text-align: center;
}

.price-cards {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
}
.price-card {
    margin: 10px;
    height: 560px;
    width: 370px;
}

.price-card-body {
    border: 1px solid #60BA62;
    padding: 40px 70px;
}

.price-card-body-colored {
    border: 1px solid #f7ca19;
    padding: 40px 70px;
}

.order-bar {
    height: 60px;
    background-color: #60BA62;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-bar-colored {
    height: 60px;
    background-color: #f7ca19;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-now {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    font-weight: 400;
}

.price-card-header {
    color: #727271;
    font-size: 1.5rem;
    font-weight: 300;
    padding-bottom: 30px;
}

.price-details {
    color: #60BA62;
    padding-bottom: 30px;
}

.price-details-colored {
    color: #f7ca19;
    padding-bottom: 30px;
}

.big-price {
    font-size: 4.4rem;
    padding-bottom: 0px;
}

.price-card-desc {
    padding-top: 20px;
    font-size: 1rem;
    line-height: 1.5;
    color: #828380;
    font-weight: 390;
}

.calories {
    padding-top: 30px;
    font-size: 1rem;
    color: #828380;
    font-weight: 390;
}

.price-card-features {
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 1rem;
    color: #828380;
    font-weight: 390;
}

.image-darkened {
    width: 1263px;
}

.menu-categories {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

.menu-header {
    padding-top: 100px;
    padding-bottom: 120px;
    font-size: 2rem;
    font-weight: 400;
    color: #727271;
}

.img-belt-01 {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

.img-belt-02 {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

.img-belt01 {
    width: 23%;
    height: 230px;
}

.img-belt02 {
    width: 23%;
}

.menu-img {
    filter: brightness(75%);
}

.team {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-heading {
    padding-bottom: 30px;
}

.team-header {
    font-size: 2rem;
    font-weight: 400;
    color: #727271;
}

.team-content {
    padding-bottom: 100px;
    padding-left: 300px;
    padding-right: 300px;
}

.team-para {
    font-size: 1rem;
    font-weight: 390;
    line-height: 1.7;
    color: #727271;
}

.team-members {
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
}

.team-member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-member-img {
    border: 1px solid #60BA62;
    border-radius: 50%;
    width: 80%;
}

.team-member-name {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.6rem;
    font-weight: 450;
    color: #727271;
}

.spec {
    padding-top: 25px;
}

.team-member-pos {
    font-size: 1rem;
    font-weight: 400;
    color: #727271;
}

.cta {
    height: 800px;
    padding-top: 100px;
    padding-left: 160px;
    padding-right: 160px;
    display: flex;
    justify-content: space-between;
}

.phone-screen-img {
    height: 620px;
}

.cta-content {
    height: 620px;
    padding-left: 140px;
    display: flex;
    flex-direction: column;
}

.cta-download {
    font-size: 1.5rem;
    color: #60BA62;
    font-weight: 300;
    padding-top: 140px;
    padding-bottom: 15px;
}

.tagline {
    font-size: 3rem;
    color: #383838;
    font-weight: 350;
    padding-top: 10x;
    padding-bottom: 30px;
}

.cta-para {
    font-size: 1rem;
    font-weight: 400;
    color: #727271;
    line-height: 1.7;
    padding-top: 10px;
    padding-bottom: 30px;
}

.download-button-img {
    padding-right: 30px;
    width: 42%;
}

.footer {
    padding-top: 40px;
    display: flex;
    background-color: #60BA62;
}

.footer-logo {
    width: 430px;
    height:150px;
}

.footer-img {
    width: 250px;
    margin-left: 4rem;
    background-color: #429C44;
    padding: 10px;
    border-radius: 15px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    width: 550px;
    height: 150px;
}

.footer-card {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    line-height: 1.8;
}

.icons {
    width: 290px;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top: 10px;
}

.icon {
    width: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

.footer-link-heading {
    font-size: 1.1rem;
    color: white;
    font-weight: 700;
    letter-spacing: 1.2px;
}

.footer-link {
    font-size: 1rem;
    color: white;
    font-weight: 400;
}

.copyright {
    height: 80px;
    background-color: #429C44;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright-para {
    font-size: 1.1rem;
    color: white;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.blog {
    height: 850px;
    background-color: rgb(243, 242, 242);
    text-align: center;
}

.blog-heading {
    font-size: 2rem;
    font-weight: 400;
    color: #727271;
}

.blog-header {
    padding: 80px 0px 40px;
}

.blog-cards {
    display: flex;
    justify-content: center;
}

.blog-card {
    width: 360px;
    position: relative;
    margin: 0px 15px;
}

.blog-post-bg {
    width: 360px;
    border-radius: 5px;
}

.blog-post-content {
    background-color: white;
    height: 420px;
    width: 330px;
    margin: 0 auto;
    position: absolute;
    top: 180px;
    right: 15px;
    border-radius: 5px;
    padding: 25px;
    text-align: left;
    color: #727271;
}

.blog-post-heading {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.4;
}

.blog-post-date {
    padding: 12px 0px;
    font-weight: 390;
}

.blog-post-para {
    line-height: 1.2;
    font-weight: 390;
}

.blog-comments {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}

.blog-post-link {
    color:#60BA62;
}